pyinstaller>=3.1
futures
nose
mock
psutil
git+https://github.com/overfl0/mockfs@crude_windows # Mockfs patched to work on windows
ipython     # For development
pyreadline  # For development (better ipython integration on windows)
